@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@400;600&display=swap');

.poppins{
    font-family: 'Inter Tight', sans-serif;
}

.bgb{
    background-color: #0d121a;
}

.bg{
    background-color: #121924;
}

