html{
    overflow-x: hidden;

}

body{
    @font-face {
        font-family: 'inter';
        src: url('font/inter.woff2') format('woff2'),
             url('font/inter.woff') format('woff'),
             url('font/inter.ttf')  format('truetype'),
      }
}

body{
    background: linear-gradient(
        180deg,
        rgb(231, 219, 219) 0%,
        rgb(29, 3, 71) 100%
    );
}

footer{
    color:white;
}

.main{
    border-radius: 25px 25px 0px 0px;
}

.lapangan{
    border-radius: 10px;
    margin-bottom: 10px;
    position: relative;
    display: inline-block;
}

.paragraf{
    width: 90%;
    text-align: justify;
    font-size: 18px;
}

.judul{
    width: 100%;
}

.kiri{
    
    background-image: url(/img/baju.jpg);
    background-size: cover;
    border-radius: 15px;
    color:white;
    top:20%;    
    padding-left: 20px;
    padding-top: 450px;
    padding-bottom: 20px;
}

.tombol{
    background-color: #362c73;
}

.join{
    border-radius: 25px;
}

.footerimg{
    width:50%;
    margin-top:auto;
    margin-bottom:auto;
}


@media (min-width: 100px) and (max-width: 992px) {
    .kiri{
        margin-top: 20px;
        width: 100%;
        padding-top: 200px;
    }
    .footerimg{
        width:80%;
        margin-top:auto;
        margin-bottom:auto;
        display:flex;
    }
    .lapangan{
        width: 100%;
    }
    .paragraf{
        width:100%;
    }
}

@media (min-width:768px) and (max-width: 919px) {
.join{
    visibility:hidden;
}
}


