@media (min-width:1338px){  
    body{
        background: linear-gradient(180deg, rgb(231, 219, 219) 0%, rgba(255,255,255,1) 100%);
        margin-top: 30px;
        margin-right: 0px;
        margin-left: 0px;
        padding-bottom: 10px;
        font-family: Inter;
        overflow-x: hidden;

    }
    
    li{
        list-style-type: none;
        display: inline;
        margin-left: 20px;
        font-size: 18px; 
        padding-top: 100%;
        padding-bottom: 48px;
        padding-right: 10px;   
        padding-left: 10px;   
    }
    
    .home:hover{
        color:grey;
        background-color: #f2e9e9;
    }
    .news:hover{
        color:grey;
        background-color: #f2e9e9;
    }
    .match:hover{
        color:grey;
        background-color: #f2e9e9;
    }
    .about:hover{
        color:grey;
        background-color: #f2e9e9;
    }
    .partner:hover{
        color:grey;
        background-color: #f2e9e9;
    }
    
    button{
        width: 150px;
        height: 50px;
        margin-bottom:auto;
        margin-top:auto;
        margin-left: 280px;
        border-radius: 50px;
        font-size: 18px;
        color:white;
        background-color:#7A64FF;
        border: 0px;
    }
    
    button:hover{
        background-color:#5847BE;
    }
    
    p{
     width:100%;
     text-align:justify;
     font-size: 20px;
     line-height: 30px;
    }
    
    h2{
     font-size: 30px;
    }
    
    h1{    
     display:inline-block;
    }
    
    footer{
        margin-top:100px;
        text-align:center;
        color:grey;
    }
    
    .main{
     margin-top: 25px;
     width: 600px;
     height:auto;
     border-radius: 20px;
     margin-right: 700px;
    
    }
    
    .header{
        display: flex;
        padding-bottom: 10px;
        width: 100%;   
    }
    .adante{
        margin-right:80px;
        font-size: 25px;
    }
    .wrapper{
        width:100%;
        height: auto;
        padding-bottom:0px;
        margin-top:20px;
        background-color: white;
        border-radius: 25px 25px 0px 0px;
    }
    
    .container{
        text-align: left;
        padding-left:40px;
        padding-right:40px;
        padding-top:20px;
    }
    
    .logo{
        width: 100px;
        padding-left: 20px;
    }
    
    .date{
     color:grey;
    }    
}

  @media (min-width: 800px) and (max-width:1338px) {  
    html, body{
        background: linear-gradient(180deg, rgb(231, 219, 219) 0%, rgba(255,255,255,1) 100%);
        margin-right: 0px;
        margin-left: 0px;
        padding-bottom: 10px;
        font-family: Inter;
        overflow-x: hidden;

    }
    
    li{
        list-style-type: none;
        display: inline;
        margin-left: 20px;
        font-size: 18px; 
        padding-top: 100%;
        padding-bottom: 48px;
    }
    
    button{
        width: 90px;
        height: 40px;
        margin-bottom:auto;
        margin-top:auto;
        border-radius: 50px;
        font-size: 12px;
        color:white;
        background-color:#7A64FF;
        border: 0px;
    }
    
    button:hover{
        background-color:#5847BE;
    }
    
    p{
     width:100%;
     text-align:justify;
     font-size: 20px;
     line-height: 30px;
    }
    
    h2{
     font-size: 30px;
    }
    
    h1{    
     display:inline-block;
    }
    
    footer{
        margin-top:100px;
        text-align:center;
        color:grey;
    }
    
    .main{
     margin-top: 25px;
     width: 600px;
     height:auto;
     border-radius: 20px;
     margin-right: 700px;
    
    }
    
    .header{
        display: flex;
        padding-top: 20px;
        padding-bottom: 10px;
    }
    .adante{
        margin-right:20px;
        font-size: 25px;
    }

    .partner{
        margin-right: 30px;
    }

    .wrapper{
        width:100%;
        height: auto;
        padding-bottom:0px;
        margin-top:20px;
        background-color: white;
        border-radius: 25px 25px 0px 0px;
    }

    .container{
        text-align: justify;
        padding-left:40px;
        padding-right:40px;
        padding-top:20px;
    }
    
    .logo{
        width: 100px;
        padding-left: 20px;
    }
    
    .date{
     color:grey;
    }}

  @media (min-width: 200px) and (max-width:800px) {  
    html,body{
        
        background: linear-gradient(180deg, rgb(231, 219, 219) 0%, rgba(255,255,255,1) 100%);
        margin-right: 0px;
        margin-left: 0px;
        padding-bottom: 10px;
        font-family: Inter;
        overflow-x: hidden;

    }
    
    li{
        list-style-type: none;
        font-size: 18px; 
        padding-right: 10px;
        width: 100%;   
    }
    
    button{
        width: 100px;
        height: 40px;
        margin-bottom:auto;
        margin-top:auto;
        margin-left:40px;
        border-radius: 50px;
        font-size: 15px;
        color:white;
        background-color:#7A64FF;
        border: 0px;
    }
    
    button:hover{
        background-color:#5847BE;
    }
    
    p{
     width:100%;
     text-align:justify;
     font-size: 15px;
     line-height: 20px;
    }
    
    h2{
     font-size: 20px;
    }
    
    h1{    
     display:inline-block;
    }
    
    footer{
        margin-top:100px;
        text-align:center;
        color:grey;
    }
    
    .main{
     margin-top: 25px;
     width: 100%;
     border-radius: 20px;
     margin-right: 700px;
    
    }
    
    .header{
        padding-bottom: 10px;
        width: 100%;   
    }
    .adante{
        margin-right:10px;
        margin-bottom: 10px;
        font-size: 20px;
    }
    .wrapper{
        width:100%;
        padding-bottom:0px;
        margin-top:20px;
        background-color: white;
        border-radius: 25px 25px 0px 0px;
    }
    
    .container{
        text-align: justify;
        padding-left:40px;
        padding-right:40px;
        padding-top:20px;
    }
    
    .logo{
        width: 100px;
        padding-left: 20px;
    }
    
    .date{
     color:grey;
    }}